django==4.0.8
django-split-settings==1.1.0
django-debug-toolbar==3.5.0
djangorestframework==3.14.0
python-dotenv==0.20.0
psycopg2-binary==2.9.3
celery==5.2.7
sqlalchemy==1.4.45
django-celery-beat==2.4.0
redis==4.4.0
backoff==2.2.1
pyjwt==2.4.0
loguru==0.6.0
gunicorn==20.1.0
requests==2.28.1
orjson==3.8.0
pydantic==1.10.2
pydantic-env==0.2.0